<div>
    <h2 id="page-heading">
        <span jhiTranslate="srvwizApp.plan.home.title">Plans</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-plan" [routerLink]="['/plan/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="srvwizApp.plan.home.createLabel">
            Create new Plan
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="plans">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="srvwizApp.plan.planName">Plan Name</span></th>
            <th><span jhiTranslate="srvwizApp.plan.reqestLimit">Reqest Limit</span></th>
            <th><span jhiTranslate="srvwizApp.plan.datasourceLimit">Datasource Limit</span></th>
            <th><span jhiTranslate="srvwizApp.plan.wsLimit">Ws Limit</span></th>
            <th><span jhiTranslate="srvwizApp.plan.roleLimit">Role Limit</span></th>
            <th><span jhiTranslate="srvwizApp.plan.price">Price</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let plan of plans ;trackBy: trackId">
                <td><a [routerLink]="['/plan', plan.id, 'view' ]">{{plan.id}}</a></td>
                <td>{{plan.planName}}</td>
                <td>{{plan.reqestLimit}}</td>
                <td>{{plan.datasourceLimit}}</td>
                <td>{{plan.wsLimit}}</td>
                <td>{{plan.roleLimit}}</td>
                <td>{{plan.price}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/plan', plan.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/plan', plan.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'plan/'+ plan.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
